@model TwitterClone.Web.ViewModels.IdentityViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="userregister" asp-action="index">List of users registered</a><br />
    <a asp-controller="userregister" asp-action="create">Register user</a><br />
    <a asp-controller="userlogin" asp-action="index">Login user</a><br />
    <a asp-controller="message" asp-action="index">Forum</a><br />
    <a asp-controller="profile" asp-action="index" asp-route-userId="@Model.UserId">Profile</a>
</div>
