@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewData["Message"]</p>
    <a asp-controller="userregister" asp-action="index">User controller</a>
    <a asp-controller="userregister" asp-action="create">User controller Create</a>
</div>
